.navbar-brand {
    padding-top: 10px;
}

.panel-default {
    margin-left: 10px;
    margin-right: 10px;
}

.alert {
    margin-left: 10px;
    margin-right: 10px;
}

.ab-link-panel{
    float: right;
    padding: 0px;
}

.ab-titulo-panel{
    float: left;
    padding-top:2px;
}